<div class='card-body'>
  <div class='col-md-6'>
      <h4>Carrito</h4>
  </div>
</div>

<div class="list-group-flush">
    <div *ngFor='let item of items' style='display: inline-block;' routerLink="" (click)="agregarAlCarrito(menu, content)" class="list-group-item list-group-item-action flex-column align-items-start">
        <p class="mb-1">x {{item.cantidad}}</p>
        <strong>{{item.menu.descripcion}}</strong>
        <div>
            <p style='float: left;' class="mb-1">{{item.menu.precio | currency: '$':'symbol':'1.2-2'}}</p>
            <a style='float: right;' class='' class="fa fa-trash" (click)='sacarDelCarrito(item.menu)'></a>
        </div>
    </div>
</div>