<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input  type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input  type="text" formControlName="apellido" class="form-control" id="apellido" placeholder="Apellido">
  </div>
  <div class="form-group">
    <label for="direccion">Dirección</label>
    <input  type="text" formControlName="direccion" class="form-control" id="direccion" placeholder="Dirección">
  </div>
  <div class="form-group">
    <label for="efectivo">Efectivo</label>
    <input  type="number" formControlName="efectivo" class="form-control" id="efectivo" placeholder="Efectivo">
    <small id="efectivoHelp" class="form-text text-muted">Ingresá con cuánto pensás pagas.</small>
  </div>
  <div>
    <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Confirmar Pedido</button>
  </div>
</form>

<button class="btn btn-primary" (click)='volverAlCarrito()'>Volver al Carrito</button>

<!-- [disabled]="!profileForm.valid" -->