<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Kenji Bento</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/menu']">Menú<span class="sr-only">(current)</span></a>
      <a *ngIf='(menusSeleccionados$ | async).length' class="nav-item nav-link" [routerLink]="['/carrito']">Ir al pedido</a>
      <a class="nav-item nav-link" [routerLink]="['/consulta-pedido']">Consultar Pedido</a>
    </div>
  </div>
</nav>
<div class="container">
  <ng-content></ng-content>
</div>
<div class='container'>
  <router-outlet></router-outlet>
</div>