<div class="jumbotron presentacion">
  <h1 class="display-4">Bentos de mediodía</h1>
  <p class="lead">¡Una alternativa fácil y rápida para tus mediodías!</p>
  <p>Día nuevo, menú nuevo: por cada día de la semana tenemos un plato diferente cocinado con las recetas más ricas de la tierra del sol naciente, Japón.</p>
</div>

<div class="list-group-flush menu-list">
  <a *ngFor='let menu of menus' style='display: inline-block;' routerLink="" (click)="agregarAlCarrito(menu, content)" class="list-group-item list-group-item-action flex-column align-items-start">
    <img class="" 
      [src]='menu.imagen'
      [title]='menu.descripcion' style="width: 100px; height: 75px;float: right;">
    <p class="mb-1">{{menu.descripcion}}</p>
    <small><strong>{{menu.precio | currency: '$':'symbol':'1.2-2'}}</strong></small>
  </a>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <ng-number-picker [min]="'1'" [max]="'10'" [step]="'1'"  [(value)]="cantidadSeleccionada"></ng-number-picker>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>