<div class="jumbotron presentacion">
  <h1 class="display-4">Bentos de mediodía</h1>
  <p class="lead">¡Una alternativa fácil y rápida para tus mediodías!</p>
  <p>Día nuevo, menú nuevo: por cada día de la semana tenemos un plato diferente cocinado con las recetas más ricas de la tierra del sol naciente, Japón.</p>
</div>

<div class="list-items">
  <div *ngFor='let menu of menus' class="list-item" >
    <div class="item-image">
      <img [src]='menu.imagen'
            [title]='menu.descripcion'
            [style.width.px]='imageWidth'
            [style.height.px]='imageHeight'
            [style.margin.px]='imageMargin'>
    </div>
    <div class="item-name">{{menu.descripcion}}</div>
    <div class="item-price">
      ${{menu.precio}}
    </div>
    <div>
      <a class="btn btn-primary" (click)="agregarAlCarrito(menu, content)" role="button">Agregar</a>  
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <ng-number-picker [(value)]="cantidadSeleccionada"></ng-number-picker>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>